
.main-card{
    box-shadow: 1px 2px 10px gray;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    height: 250px;
    width: 600px;
    background-color: #04042b;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.main-card-title{
    font-size: 24px;
    font-weight: bold;
}

.main-card-des p{
    padding-top: 20px;
}

.main-card-img{
    height: 90%;
    width: 200px;
    background-color: rgb(14, 13, 13, 0.5);
    margin-right: 10px;
    border-radius: 20px;
}

.main-card-btn{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 20px;
}

@media screen and (max-width: 600px) {

    .main-card{
        width: 300px;
        flex-direction: column;
        padding-top: 20px;
    }
    
}
